/* main.css */

body {
	font-family: "Lucida Console", Monaco, serif;
	min-width: 400px;
}
header  h2 {
	text-transform: uppercase;
	text-shadow: 2px 2px lightgreen;
}
header  h2 small{
	font-style: oblique;
}
a {	text-decoration: none; }
a:hover { color: darkgreen; }
a:active { color: red; }

.left-aside, .right-aside {
	float: left;
	min-height: 350px;
	border: thin solid lightblue;

}
.left-aside {
	width: 15%;
	background-color: #fcf;
	border-bottom: none;
	text-align: center;
}
.left-aside > li {
	list-style: none;
	border: thin solid #fbf;
	padding: 5px;
	width: 90%;
	display: inline-block;
}
.left-aside > li:hover {
	background-color: #faf;
	border-radius: 10px;
}
.right-aside {
	min-width: 75%;
	border-right: none;
	border-bottom: none;
	border-top: none;
}
.footers {
	float: left;
	padding: 10px;
	width: 30%;
	height: 80px;
}
.heading {
	width: 100%;
	text-align: center;
	border-bottom: thin solid #e8e8e8;
}
.body {
	float: left;
}
fieldset {
	border-radius: 5px;
}
